## Anotações baseadas na aula 1

# O(n)

In [76]:
def exemplo0(dados):
    lista = []
    contador = 0
    
    for i in dados:
        contador += 1
        lista.append(i)
        print('executado', contador , 'vezes')
    
    return lista

In [77]:
print(exemplo0([1,45,3,7]))

executado 1 vezes
executado 2 vezes
executado 3 vezes
executado 4 vezes
[1, 45, 3, 7]

# O(n)

In [50]:
def exemplo1(dados):
    lista = []
    contador = 0
    for i in range(len(dados)//2):
        contador += 1
        lista.append(dados[i] * dados[-(i+1)])
        print('executado', contador , 'vezes')
        
    return lista

In [24]:
print('Saída:', exemplo1([3,4,6,2,4,5]))

executado 1 vezes
executado 2 vezes
executado 3 vezes
Saída: [15, 16, 12]

**O loop é executado n/2 vezes**

**Se n tende ao infinito**

**t(n) = n/2 = O(n)**

# O(n)

In [32]:
def exemplo2(dados):
    saida = []
    contador = 0
    for i in range(len(dados)):
        contador += 1
        saida.append(dados[i])
        print('executado', contador, 'vezes')
        
    for i in range(len(dados)):
        contador += 1
        saida.append(dados[i])
        print('executado', contador, 'vezes')
        
    return saida

In [35]:
print(exemplo2([7,5,6]))

executado 1 vezes
executado 2 vezes
executado 3 vezes
executado 4 vezes
executado 5 vezes
executado 6 vezes
[7, 5, 6, 7, 5, 6]

**O loop é executado n \* 2 vezes**

**t(n) = n + n = O(n)**

# O(n²)

In [70]:
def exemplo3(dados):
    saida = []
    contador = 0
    for i in range (len(dados)):
        for j in range (len(dados)):
            contador += 1
            saida.append([dados[i], dados[j], dados[i] * dados[j]])
            print('executado', contador, 'vezes')
    return saida

In [72]:
print(exemplo3([1,2,3]))

executado 1 vezes
executado 2 vezes
executado 3 vezes
executado 4 vezes
executado 5 vezes
executado 6 vezes
executado 7 vezes
executado 8 vezes
executado 9 vezes
[[1, 1, 1], [1, 2, 2], [1, 3, 3], [2, 1, 2], [2, 2, 4], [2, 3, 6], [3, 1, 3], [3, 2, 6], [3, 3, 9]]

**O loop é executado n \* n vezes**

**t(n) = n \* n = O(n²)**

# O(n²)

In [37]:
def exemplo4(dados):
    saida = []
    contador = 0
    for i in range (len(dados)):
        for j in range (i, len(dados)):
            contador += 1
            saida.append([dados[i], dados[j], dados[i] * dados[j]])
            print('executado', contador, 'vezes')
    return saida

In [38]:
print(exemplo4([1,2,3,4]))

executado 1 vezes
executado 2 vezes
executado 3 vezes
executado 4 vezes
executado 5 vezes
executado 6 vezes
executado 7 vezes
executado 8 vezes
executado 9 vezes
executado 10 vezes
[[1, 1, 1], [1, 2, 2], [1, 3, 3], [1, 4, 4], [2, 2, 4], [2, 3, 6], [2, 4, 8], [3, 3, 9], [3, 4, 12], [4, 4, 16]]

**O(n²)**

# O(n²)

In [1]:
def exemplo5(dados):
    lista = []
    contador = 0
    for i in range(len(dados)):
        for j in range(len(dados)):
            for k in range(2):
                contador += 1
                lista.append([dados[i], dados[j], dados[k], dados[i] * dados[j] * dados[k]])
                print('executado', contador , 'vezes')
        
    return lista

In [2]:
print(exemplo5([2,5,8]))

executado 1 vezes
executado 2 vezes
executado 3 vezes
executado 4 vezes
executado 5 vezes
executado 6 vezes
executado 7 vezes
executado 8 vezes
executado 9 vezes
executado 10 vezes
executado 11 vezes
executado 12 vezes
executado 13 vezes
executado 14 vezes
executado 15 vezes
executado 16 vezes
executado 17 vezes
executado 18 vezes
[[2, 2, 2, 8], [2, 2, 5, 20], [2, 5, 2, 20], [2, 5, 5, 50], [2, 8, 2, 32], [2, 8, 5, 80], [5, 2, 2, 20], [5, 2, 5, 50], [5, 5, 2, 50], [5, 5, 5, 125], [5, 8, 2, 80], [5, 8, 5, 200], [8, 2, 2, 32], [8, 2, 5, 80], [8, 5, 2, 80], [8, 5, 5, 200], [8, 8, 2, 128], [8, 8, 5, 320]]

**O loop é executado n \* n \* 3 vezes**

**t(n) = n \* n \* 3 = O(n²)**

# O(n³)

In [5]:
def exemplo6(dados):
    lista = []
    contador = 0
    for i in range(len(dados)):
        for j in range(len(dados)):
            for k in range(len(dados)):
                contador += 1
                lista.append([dados[i], dados[j], dados[k], dados[i] * dados[j] * dados[k]])
                print('executado', contador , 'vezes')
        
    return lista

In [6]:
print(exemplo6([2,5]))

executado 1 vezes
executado 2 vezes
executado 3 vezes
executado 4 vezes
executado 5 vezes
executado 6 vezes
executado 7 vezes
executado 8 vezes
[[2, 2, 2, 8], [2, 2, 5, 20], [2, 5, 2, 20], [2, 5, 5, 50], [5, 2, 2, 20], [5, 2, 5, 50], [5, 5, 2, 50], [5, 5, 5, 125]]

**O loop é executado n \* n \* n vezes**

**t(n) = n \* n \* n = O(n³)**

# O(log n)

In [7]:
def busca_binaria(lista:list , valor:int):
    
    print('executou')
    
    meio = len(lista)//2
    
    if (lista[meio] == valor):
        return lista[meio]
    
    if (len(lista)>1):
        
        if(lista[meio] > valor):
            return busca_binaria(lista[:meio], valor)

        elif(lista[meio] < valor):
            return busca_binaria(lista[meio:], valor)
    
    return None

In [36]:
import random
lista = random.sample(range(100), 50)
lista.sort()
print(lista)
print(busca_binaria(lista,98))

[1, 2, 3, 5, 7, 8, 9, 10, 11, 13, 14, 15, 17, 24, 26, 27, 28, 34, 36, 37, 38, 40, 42, 43, 47, 50, 51, 52, 53, 55, 56, 57, 59, 60, 61, 62, 63, 65, 67, 68, 70, 71, 74, 79, 80, 86, 88, 93, 98, 99]
executou
executou
executou
executou
executou
98

**Princípio de dividir para conquistar**

**t(n) = log2(n)= O(log n)**

# O(2^n)

In [23]:
def exemplo7(dados):
    lista = []
    contador = 0

    for i in range(2**len(dados)):
        contador += 1
        print('executado', contador , 'vezes')
        lista.append(i)

    return lista

In [26]:
print(exemplo7([1,4,7]))

executado 1 vezes
executado 2 vezes
executado 3 vezes
executado 4 vezes
executado 5 vezes
executado 6 vezes
executado 7 vezes
executado 8 vezes
[0, 1, 2, 3, 4, 5, 6, 7]

**t(n) = O(2^n)**